<template>
  <div class="row">
    <div class="col-sm-6 card edit-area">
      <cc-text-input @displayTextChanged="textInput1 =$event"></cc-text-input>
      {{textInput1}}
      <cc-text-input @displayTextChanged="textInput2 =$event"></cc-text-input>
            {{textInput2}}
      <cc-text-input @displayTextChanged="textInput3 =$event"></cc-text-input>
            {{textInput3}}
    </div> 
    <div class="col-sm-6 card edit-display">
      <cc-text-output :displayText="textInput1" :contentContainerHeight="130"></cc-text-output>
       <cc-text-output :displayText="textInput2" :contentContainerHeight="130"></cc-text-output>
        <cc-text-output :displayText="textInput3" :contentContainerHeight="130"></cc-text-output>
    </div> 
  </div>
</template>

<script>
import TextInput from "./TextInput.vue";
import TextOutput from "./TextOutput.vue";

export default {
  data: function() {
    return {
      textInput1: "",
      textInput2: "",
      textInput3: ""
    };
  },
  components: {
    ccTextInput: TextInput,
    ccTextOutput:TextOutput
  }
};
</script>

<style>
.edit-area {
  background: #d2f9f9;
  padding: 20px;
  height: 800px;
}
.card-display {
  height: 800px;
  padding: 20px;
}
</style>
