<template>
  <div class="row">
    <div class="col-sm-6 card edit-area">
    card back
    </div> 
<div class="col-sm-6 card edit-display">
    </div> 
  </div>
</template>

<script>


</script>

<style>
.edit-area{
background: #d2f9f9;
padding:20px;
height:800px;
}
.card-display{
height:800px;
padding:20px;
}
</style>
